<%= render :partial => "setting_menu" %>

<% if @current_user.email %>
<%= form_tag("/settings/password", class: "form-beta") do %>
<h3>パスワード設定</h3>

<h5>現在のパスワード</h5>
<input type="password" name="current_password" value="<%= flash[:current_password] %>">
<% if flash[:current_password_warning] %>
<div class="confirmation-message warning"><%= flash[:current_password_warning] %></div>
<% end %>

<h5 style="margin-top:20px">新しいパスワード（8字以上、32字以下）</h5>
<input type="password" name="new_password" value="<%= flash[:new_password] %>">
<% if flash[:new_password_warning] %>
<div class="confirmation-message warning"><%= flash[:new_password_warning] %></div>
<% end %>

<h5 style="margin-top:20px">新しいパスワード（確認用）</h5>
<input type="password" name="new_password_confirmation" value="<%= flash[:new_password_confirmation] %>">
<% if flash[:new_password_confirmation_warning] %>
<div class="confirmation-message warning"><%= flash[:new_password_confirmation_warning] %></div>
<% end %>

<input type="submit" value="更新" style="margin-top:40px">
<% end %>
<% else %>
<div class="form-beta">
    <h3>パスワード設定</h3>
    <div class="email-notice">このアカウントにはメールアドレスが登録されていません</div>
    <div class="email-notice-description">
        <%= link_to("メールアドレス設定", "/settings/email") %>にて、メールアドレスおよびパスワードの登録を行ってください。
        また登録後、メールアドレスでのログインおよびSNSとの連携解除が行えるようになります。
    </div>
</div>
<% end %>
