<h1>パスワード再設定</h1>
<%= form_tag("/reset-password/#{params[:token]}", class: "form-beta") do %>
<h3>パスワード再設定</h3>

<h5>新しいパスワード（8字以上、32字以下）</h5>
<input type="password" name="password" value="<%= flash[:password] %>">
<% if flash[:password_warning] %>
<div class="confirmation-message warning"><%= flash[:password_warning] %></div>
<% end %>

<h5 style="margin-top:20px">新しいパスワード（確認用）</h5>
<input type="password" name="password_confirmation" value="<%= flash[:password_confirmation] %>">
<% if flash[:password_confirmation_warning] %>
<div class="confirmation-message warning"><%= flash[:password_confirmation_warning] %></div>
<% end %>

<input type="submit" value="設定" style="margin-top:40px">
<% end %>